@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
}
input {
  margin-bottom: 10px !important;
}

.select {
  width: 100%;
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 10px;
}

.table-wrapper {
  display: block;
  overflow-x: auto;
}
